@font-face {
    font-family: 'f1';
    src : url("fonts/formula.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(153, 153, 153);
}

p {
    font-family: 'f1';
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item {
    margin-right: 15px;
    margin-left: 15px;
    width: 200px;
    height: 210px;
}

#title {
    font-size: 2.3em;
    text-align: center;
}

.split {
    height: auto;
    width: 2px;
    background-color: rgba(0,0,0,0.8);
    margin-left: 12px;
    margin-right: 12px;
}